github "JeffBNimble/swift-content-provider" "0.0.7"
github "JeffBNimble/swift-protocols-sqlite" "0.0.8"
github "JeffBNimble/swift-protocols-core" "0.0.5"
github "CocoaLumberjack/CocoaLumberjack" "swift_2.0"
github "Alamofire/Alamofire" "swift-2.0"
